/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
    /* outline: 1px solid red; */
    box-sizing: border-box;
}


/* NAV */

nav {
    position: relative;
    display: flex;
    background: linear-gradient(
    0deg,
    rgba(122, 122, 122, 1) 0%,
    rgba(99, 99, 99, 1) 25%,
    rgba(94, 94, 94, 1) 49%,
    rgba(113, 113, 113, 1) 50%,
    rgba(123, 123, 123, 1) 75%,
    rgba(149, 149, 149, 1) 100%
  );
    width: 60rem;
    height: auto;
    margin: 1rem auto auto auto;
    text-align: center;
    color: white;
    font-size: 14px;
    border-radius: 6px;
    z-index: 9999;
}



nav ul {
    display: flex;
    flex: 1; 
}

nav ul li {
    z-index: 9998;
    padding: 10px 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.253);
    line-height: 20px;
    cursor: pointer;
    flex: 2;
}



nav ul li:first-child {
    display: block;
    width: 100%;
    background: no-repeat url("Apple_logo_white.png");
    background-size: auto 100%;
    background-position: 50% 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.nav-search {
    padding: 10px 20px;
    width: auto;
    z-index: 9998;
}

.nav-search input {
    width: 100px;
    background-color: inherit;
    border-radius: 20px;
    color: black;
    background: no-repeat url(/assets/search_white_24dp.svg);
    background-size: auto 100%;
    background-position: 2px 0;
    border: 1px solid rgb(73, 73, 73);
    padding: 2px 0;
    padding-left: 24px;
}


.nav-search input:focus {
    background: no-repeat url(/assets/search_black_24dp.svg);
    background-size: auto 100%;
    background-position: 2px 0;
    background-color: white;
}








/* MAIN */

.hero-wrapper {
    position: absolute;
    top: 0%;
    right: 0;
    left: 0;
    bottom: 292px;
    overflow: hidden;
    z-index: -1;
}

.hero-bg {
    width: 1440px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -720PX;
    background: url("https://web.archive.org/web/20140301004302im_/http://images.apple.com/v/home/as/images/your_verse_hero.jpg") 50% 100% no-repeat;
    background-size: 1440px 1315px;
    z-index: -1;
}

.hero-text-container {
    height: 100vh;
    padding: 50px;
    margin-top: 60px;
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 100;

}

.hero-text-container h1 {
    font-size: 62px;
    width: 60%;
    font-family: 'Lato', sans-serif;
    margin: auto auto 10px auto;
}

.hero-text-container h2 {
    font-size: 32px;
    line-height: 50px;
    font-weight: 600;
    width: 60%;
    margin: auto auto 30px auto;
}

.hero-text-container p {
    font-size: 20px;
    font-weight: 600;
    width: 60%;
    margin: auto auto auto auto;
}


.img-container {
    display: flex;
    width: 1440px;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    left: 50%;
    right: 0;
    bottom: 90px;
    margin: auto;
    margin-left: -720px;
    
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.footer-nav, .footer-nav-2 {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 2em;
    width: 1200px;
}

.footer-nav a, .footer-nav-2 a {
    color: #0088cc;
    cursor: pointer;
}

.footer-nav a:hover, .footer-nav ul li:hover,
.footer-nav-2 a:hover, .footer-nav-2 ul li:hover {
    text-decoration: underline;
}

.footer-nav ul, .footer-nav-2 ul {
display: flex;
}

.footer-nav ul li, .footer-nav-2 ul li {
    color: #0088cc;
    padding: 6px 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.356);
    cursor: pointer;
}

.footer-nav-2 {
    gap: 0;
}

